<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sketchandstitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED5AFF9F21933D9300ED1E52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED5AFFB121933D9400ED1E52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED5AFFBC21933D9400ED1E52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
